{% extends 'main.html' %}

{% block content %}
<main class="layout layout--3">

    <div class="container">
        <div>
        </div>
        <div class="itemList">
            <div class="itemList__header">
                <div>
                    <h2>Deliverables</h2>
                </div>
                <a class="btn btn--main" href="{% url 'create-deliverable' %}">
                    Create Deliverable
                </a>
            </div>
            {% for obj in deliverables %}
            <div class="itemListitem">
                <div clas="itemListitem__header">
                    <a href ="{% url 'deliverable' obj.id %}" class="itemList__uuid">
                        <span>{{ obj.uuid }}</span>
                    </a>                  
                </div>
                <div class="itemListitem__content">
                    <h1>{{ obj.name }}</h1>
                    <p>{{ obj.description }}</p>
                </div>
                <div class="itemListitem__meta">
                    <p class="itemList__topic">Due Date: {{ obj.due_date }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
        </div>
    </div>
</main>
{% endblock content %}