{% extends 'main.html' %}

{% block content %}
<main class="layout layout--3">

    <div class="container">
        <div>
        </div>
        <div class="itemListitem">
            <div class="itemList__header">
                <div>
                    <h2>{{ deliverable.uuid }}</h2>
                </div>
                <a class="btn btn--edit" href="{% url 'update-deliverable' deliverable.id %}">
                    Edit
                </a>
                <a class="btn btn--delete" href="{% url 'delete-deliverable' deliverable.id %}">
                    Delete
                </a>
            </div>
            <div class="itemList">
                <div class="itemListitem__content">
                    <h3>Name:</h3>
                    <p>{{ deliverable.name }}<p><br>
                    <h2><b>Description</b></h2>
                    <p>{{ deliverable.description }}</p><br>
                    <h3>Due Date:</h3>
                    {{ deliverable.due_date }}
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</main>
{% endblock content %}