{% extends 'main.html' %}

{% block content %}
<main class="layout layout--3">

    <div class="container">
        <div>
        </div>
        <div class="itemListitem">
            <div class="itemList__header">
                <div>
                    <h2>{{ actionitem.uuid }}</h2>
                </div>
                <a class="btn btn--edit" href="{% url 'update-actionitem' actionitem.id %}">
                    Edit
                </a>
                <a class="btn btn--delete" href="{% url 'delete-actionitem' actionitem.id %}">
                    Delete
                </a>
            </div>
            <div class="itemList">
                <div class="itemListitem__content">
                    <h2>Name:</h2>
                    <p>{{ actionitem.name }}<p><br>
                    <h2><b>Description</b></h2>
                    <p>{{ actionitem.description }}</p><br>
                    <h2>Assigned To:</h2>
                    <p>{{ actionitem.assigned_to }}</p><br>
                    <h2>Date Created:</h2>
                    <p>{{ actionitem.date_created}}</p><br>
                    <h2>Date Assigned:</h2>
                    <p>{{ actionitem.date_assigned}}</p><br>
                    <h2>Expected Completion Date:</h2>
                    <p>{{ actionitem.expected_completion_date }}</p><br>
                    <h2>Actual Completion Date:</h2>
                    <p>{{ actionitem.actual_completion_date }}</p><br>
                    <h2>Status:</h2>
                    <p>{{ actionitem.status_id }}</p><br>
                    <h2>Description of Status:</h2>
                    <p>{{ actionitem.status_description }}</p><br>
                    <h2>Date Updated:</h2>
                    <p>{{ actionitem.update_date }}</p><br>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</main>
{% endblock content %}