{% extends 'main.html' %}

{% block content %}
<main class="layout layout--3">

    <div class="container">
        <div>
        </div>
        <div class="itemList">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form__group">
                    <label for="task_name">Issue</label>
                    {{form.issue_id}}
                </div>
                <div class="form__group">
                    <label for="issue_name">Name</label>
                    {{form.name}}
                </div>
                <div class="form__group">
                    <label for="issue_description">Description</label>
                    {{form.description}}
                </div>
                <div class="form__group">
                    <label for "issue_assigned_to">Assigned To</lable>
                    {{ form.assigned_to }}
                </div>
                <div class="form__group">
                    <label for "issue_expected_duration">Date Created</lable>
                    {{ form.date_created }}
                </div>
                <div class="form__group">
                    <label for "issue_expected_effort">Date Assigned</lable>
                    {{ form.date_assigned }}
                </div>
                <div class="form__group">
                    <label for "issue_actual_start_date">Expected Completion Date</lable>
                    {{ form.expected_completion_date }}
                </div>
                <div class="form__group">
                    <label for "issue_actual_end_date">Actual Completion Date</lable>
                    {{ form.actual_completion_date }}
                </div>
                <div class="form__group">
                    <label for "issue_status">Status</lable>
                    {{ form.status_id }}
                </div>
                <div class="form__group">
                    <label for "issue_status_description">Description of Status</lable>
                    {{ form.status_description }}
                </div>
                <div class="form__group">
                    <label for "issue_update_date">Date Updated</lable>
                    {{ form.update_date }}
                </div>
                <div class="form__action">
                    <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a>
                    <button class="btn btn--main" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div>
        </div>
</div>
{% endblock content %}