{% extends 'main.html' %}

{% block content %}
<main class="layout layout--3">

    <div class="container">
        <div>
        </div>
        <div class="itemListitem">
            <a href="{{request.META.HTTP_REFERER}}">Go Back</a>
            <div class="itemList__header">
                <div>
                    <h2>{{ issue.uuid }}</h2>
                </div>
                <a class="btn btn--edit" href="{% url 'update-issue' issue.id %}">
                    Edit
                </a>
                <a class="btn btn--delete" href="{% url 'delete-issue' issue.id %}">
                    Delete
                </a>
            </div>
            <div class="itemList">
                <div class="itemListitem__content">
                    <h2>Name:</h2>
                    <p>{{ issue.name }}<p><br>
                    <h2><b>Description</b></h2>
                    <p>{{ issue.description }}</p><br>
                    <h2>Assigned To:</h2>
                    <p>{{ issue.assigned_to }}</p><br>
                    <h2>Priority:</h2>
                    <p>{{ issue.priority_id }}</p><br>
                    <h2>Serverity:</h2>
                    <p>{{ issue.serverity_id }}</p><br>
                    <h2>Date Raised:</h2>
                    <p>{{ issue.date_raised}}</p><br>
                    <h2>Date Assigned:</h2>
                    <p>{{ issue.date_assigned}}</p><br>
                    <h2>Expected Completion Date:</h2>
                    <p>{{ issue.expected_completion_date }}</p><br>
                    <h2>Actual Completion Date:</h2>
                    <p>{{ issue.actual_completion_date }}</p><br>
                    <h2>Status:</h2>
                    <p>{{ issue.status_id }}</p><br>
                    <h2>Description of Status:</h2>
                    <p>{{ issue.status_description }}</p><br>
                    <h2>Date Updated:</h2>
                    <p>{{ issue.update_date }}</p><br>
                </div>
                <br>
                <div class="itemList__header">
                    <div>
                        <h2>List of Action Items:</h2>
                    </div>
                </div>
                {% for actionitem in actionitems%}
                <div class="itemListitem__meta">
                        <a href="{% url 'actionitem' actionitem.id %}">
                            {{ actionitem.uuid }}
                        </a>
                        <div>
                            {{ actionitem.name }}
                        </div>
                </div>
                {% endfor %}
                <br>
                <div class="itemList__header">
                    <div>
                        <h2>List of Decision:</h2>
                    </div>
                </div>
                {% for decision in decisions%}
                <div class="itemListitem__meta">
                        <a href="{% url 'decision' decision.id %}">
                            {{ decision.uuid }}
                        </a>
                        <div>
                            {{ decision.name }}
                        </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div>
        </div>
    </div>
</main>
{% endblock content %}